/* ============= base style ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.container {
  margin: 20px;
}

/* ============== Hero styling ============== */
header {
  padding: 20px;
  background-color: hsl(193, 100%, 96%);
  background-clip: border-box;
  background-image: url("images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
}
.hero {
  position: relative;
}
.logo {
  position: absolute;
  width: 40%;
  height: auto;
}
.hero-cta {
  font-weight: 700;
  position: absolute;
  right: 0;
  padding: 5px 20px;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 5px 0px #968D8D;
}
.wrapper {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}
.box-a {
  text-align: center;
  padding-top: 30px;
}
.box-a p {
  font-weight: 400;
  margin: 30px 0;
}
.box-b {
  padding-top: 30px;
}
.box-b img {
  width: 100%;
}

/* =========== cta style ============= */
.cta {
  width: 80%;
  border: none;
  color: #fff;
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  padding: 12px;
  border-radius: 50px;
}

/* ========== features style ============ */
.feature {
  text-align: center;
  margin: 30px 0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px -0.5px 6px 0px #A0A0A0;
}
.feature p {
  margin-top: 20px;
  color: hsl(208, 11%, 55%);
  line-height: 1.5rem;
}
.feature-img {
  margin-bottom: 40px;
}
.feature-img img {
  width: 100%;
}

/* ================ footer style ================ */
.footer {
  background-color: hsl(192, 100%, 9%);
  background-clip: padding-box;
  color: #fff;
  padding: 20px;
}
.footer-logo {
  width: 40%;
}
address ul {
  padding: 20px;
}
li {
  margin-bottom: 30px;
  list-style-type: none;
}
span {
  position: relative;
  left: 15px;
}
#address {
  list-style: url("images/icon-location.svg");
}
#phone {
  list-style: url("images/icon-phone.svg");
}
#mail {
  list-style: url("images/icon-email.svg");
}
.social {
  text-align: center;
  margin-bottom: 30px;
}
i {
  padding: 0 5px;
  font-size: 2rem;
}
small {
  font-size: 0.7rem;
  display: block;
  text-align: center;
}